@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Valentine";
  src: url(".\assets\Valentine.otf") format("opentype");
}

:root {
  background-color: #0b1522;
}
